* {
    padding: 0;
    margin: 0;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flag {
    background-color: white;
    height: 300px;
    width: 600px;
}

#german {
    display: flex;
}

.vertical {
    width: 200px;
    height: 300px;
}

.horizontal {
    width: 600px;
    height: 100px;
}

#black {
    background-color: black;
}

#yellow {
    background-color: yellow;
}
#blue {
    background-color: blue;
}
#white {
    background-color: white;
}
.red {
    background-color: red;
}

#german:hover #black{
    background-color: red;
}
#german:hover #yellow{
    background-color: white;
}
#german:hover .red{
    background-color: green;
}

#french:hover #blue{
    background-color: green;
}
#french:hover #yellow{
    background-color: white;
}
#french:hover .red{
    background-color: orange;
}

#japan {
    border: solid 2px #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    background-color: red;
    width: 160px;
    height: 160px;
    border-radius: 80px;
}